<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>workshop01</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>MPAServlet</display-name>
    <servlet-name>MPAServlet</servlet-name>
    <servlet-class>gov.mpa.backend.MPAServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MPAServlet</servlet-name>
    <url-pattern>/MPAServlet</url-pattern>
  </servlet-mapping>
  
</web-app>